<div class="form-wrapper">
  <form [formGroup]="form" class="form" (ngSubmit)="onSubmit()">
    <h1 class="form__title">Logo</h1>
    <mat-form-field appearance="outline">
      <input
        placeholder="Your Email"
        class="form__input"
        type="email"
        formControlName="username"
        matInput>
      <mat-error *ngIf="!username.valid">
        <span *ngIf="username.errors['email']">Incorrect email</span>
        <span *ngIf="username.errors['required']">Email is required</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input
        placeholder="Your Password"
        class="form__input"
        type="password"
        formControlName="password"
        matInput>
      <mat-error *ngIf="!password.valid">
        <span *ngIf="password.errors['min']">Password should contain more than 3 symbols</span>
        <span *ngIf="password.errors['required']">Password is required</span>
      </mat-error>
    </mat-form-field>
    <button mat-button type="submit" class="form__submit">sign in</button>
    <a routerLink="/register" class="form__redirect">Don't have an account? Register</a>
  </form>
</div>
