<div class="form-wrapper mobile-container">
  <form [formGroup]="form" class="form" (ngSubmit)="signUp()">
    <h1 class="form__title">Logo</h1>
    <mat-form-field appearance="outline">
      <input
        placeholder="Your Name"
        class="form__input"
        type="text"
        formControlName="name"
        matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input
        placeholder="Your Email"
        class="form__input"
        type="email"
        formControlName="email"
        matInput>
      <mat-error *ngIf="!email.valid">
        <span *ngIf="email.errors['email']">Incorrect email</span>
        <span *ngIf="email.errors['required']">Email is required</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input
        placeholder="Your Password"
        class="form__input"
        type="password"
        formControlName="password"
        matInput>
      <mat-error *ngIf="!password.valid">
        <span *ngIf="password.errors['min']">Password should contain more than 3 symbols</span>
        <span *ngIf="password.errors['required']">Password is required</span>
      </mat-error>
    </mat-form-field>
    <button mat-button type="submit" class="form__submit">create an account</button>
    <a routerLink="/login" class="form__redirect">Already have an account? Sign In</a>
  </form>
</div>
