<div class="form-wrapper mobile-container">
  <form [formGroup]="form" class="form" (ngSubmit)="onSubmit()">
    <h1 class="form__title">Logo</h1>
    <mat-form-field appearance="outline">
      <input
        placeholder="New Password"
        class="form__input"
        type="password"
        formControlName="password"
        matInput>
      <mat-error *ngIf="!password.valid">
        <span *ngIf="password.errors['min']">Password should contain more than 3 symbols</span>
        <span *ngIf="password.errors['required']">Password is required</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input
        placeholder="Repeat Password"
        class="form__input"
        type="password"
        formControlName="repeatPassword"
        matInput>
      <mat-error *ngIf="!repeatPassword.valid">
        <span *ngIf="repeatPassword.errors['min']">Password should contain more than 3 symbols</span>
        <span *ngIf="repeatPassword.errors['required']">Please repeat password</span>
      </mat-error>
    </mat-form-field>
    <button mat-button type="submit" class="form__submit">set new password</button>
    <a routerLink="/register" class="form__redirect">Don't have an account? Register</a>
  </form>
</div>
