.form-wrapper {
  display: flex;
  height: 500px;
  width: 50%;
  margin: 150px auto 0 auto;
  border: 2px solid #6495ed70;
  border-radius: 5px;
  background-color: white;
}

.form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  &__title{
    text-align: center;
  }
  &__submit{
    text-transform: uppercase;
  }
  &__redirect{
    margin-top: 10px;
  }
}

.mobile-container {
  @media (max-width: 600px) {
    width: 100%;
  }
}
